<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <script src="../../static/jquery-2.1.4.min.js"></script>
    <script src="../../static/ajax.js"></script>
    <script src="../../static/bootstrap.min.js"></script>
    <script src="../../static/Highcharts/js/highcharts.js"></script>
    <link href="../../static/bootstrap.min.css" rel="stylesheet">
    <title>运维平台</title>
</head>
<body data-spy="scroll" data-target=".navbar-example">
<nav class="navbar navbar-inverse" role="navigation">
   <div class="navbar-header">
       <a class="navbar-brand" href="/">运维平台</a>
       <a class="navbar-brand" href="/hchart">流量查看</a>
   </div>
</nav>
       {% block html %}
       {% endblock %}
</body>
</html>